<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('Create House')"/>
<link rel="stylesheet" th:href="@{/css/Main.css}">
<body>
<nav th:replace="partials/navbar.html :: navbar"/>

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="houseCreate-form mb-4">
                <form th:action="@{/houses/create}" method="post" th:object="${house}" class="mt-5 border p-4 bg-light shadow">
                    <h4 class="mb-5 text-secondary">Create A Listing</h4>
                    <div class="row">
                        <div class="mb-3 col-md-12 form-group">
                            <label for="address">Address</label><span class="required text-danger"> *</span>
                            <input id="address" name="address" type="text" class="form-control" th:field="*{address}"/>
                            <p th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></p>
                        </div>
                        <div class="mb-3 col-md-12 form-group">
                            <label for="city">City</label><span class="required text-danger"> *</span>
                            <input id="city" name="city" type="text" class="form-control" th:field="*{city}"/>
                            <p th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></p>
                        </div>
                        <div class="mb-3 col-md-12 form-group">
                            <label for="state">State</label><span class="required text-danger"> *</span>
                            <br>
                            <select name="state" id="state">
                                <option th:each="state: ${states}" th:value="${state}" th:text="${state}"></option>
                            </select>
                        </div>
                        <div class="mb-3 col-md-12 form-group">
                            <label for="zipcode">Zipcode</label><span class="required text-danger"> *</span>
                            <input id="zipcode" name="zipcode" type="text" class="form-control" th:field="*{zipcode}"/>
                            <p th:if="${#fields.hasErrors('zipcode')}" th:errors="*{zipcode}"></p>
                        </div>
                        <div class="mb-3 col-md-12 form-group">
                            <label for="description">Description</label><span class="required text-danger"> *</span>
                            <textarea id="description" name="description" class="materialize-textarea form-control" th:field="*{description}"/>
                            <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></p>
                        </div>
                        <div class="mb-3 col-md-12 form-group">
                            <input th:field="*{image_url}" type="hidden" class="form-control" id="image_url">
                        </div>
                        <div class="mb-3 col-md-12 form-group">
                            <label for="filestack">Upload House Picture</label>
                            <button id="filestack" type="button">Select Image</button>
                            <input type="hidden" th:value="${FILESTACK_TOKEN}" class="filestackToken">
                        </div>
                        <input type="submit" value="Create listing" class="btn btn-block btn-info"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div th:replace="partials/scripts.html :: scripts"/>
<div th:replace="partials/fileStackScripts.html :: fileStackScripts"/>
</body>
</html>