<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('Title')"/>
<body>
<nav th:replace="partials/navbar.html :: navbar"></nav>

<h1>Update your house listing!</h1>

<div>
    <form action="#" th:action="@{/houses/edit}" th:object="${houses}" method="post">
        <label>Address: </label>
        <input type="text" th:field="*{address}">
<br>
        <label>City: </label>
        <input type="text" th:field="*{city}">
<br>
        <label>State: </label>
        <input type="text" th:field="*{state}">
<br>
        <label>Zipcode: </label>
        <input type="text" th:field="*{zipcode}">
<br>
        <label>Description: </label>
        <input type="text" th:field="*{description}">
<br>
        <input type="hidden" th:field="*{id}" th:value="${houses.id}">
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>

<th:block th:include="partials/scripts.html :: scripts"></th:block>
</body>
<footer th:replace="partials/footer.html :: footer"></footer>
</html>