<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('All listings')"/>
<head>
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.4.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.4.0/mapbox-gl.css' rel='stylesheet'/>

</head>

<body>
<nav th:replace="partials/navbar.html :: navbar"/>
<h1>Houses</h1>
<div th:each="house : ${houses}">
    <p th:text="${house.address}" />
    <p th:text="${house.city}" />
    <p th:text="${house.description}" />
    <p th:text="${house.state}" />
    <p th:text="${house.zipcode}" />

    <a th:href="@{/houses/{id}(id=${house.id})}" class="btn btn-primary">More Details</a>

</div>
<!--mapbox here-->
<div id='map' style='width: 800px; height: 800px;' class=""></div>
<!--    end of map box-->


<footer th:replace="partials/footer.html :: footer"/>
<div th:replace="partials/scripts.html :: scripts"/>
</body>
</html>