<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('All listings')"/>
<head>
    <link rel="stylesheet" th:href="@{/css/houseIndexStyle.css}">
</head>
<body>
<nav th:replace="partials/navbar.html :: navbar"/>
<!--START OF CARD ATTEMPT-->
<div class="container mb-4">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-8 col-lg-6">
            <!-- Section Heading-->
            <div class="section_heading text-center wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                <h3>Property Listings</h3>
                <p>Here are all the properties listed with Agent-Link</p>
                <div class="line"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- Single Card-->
        <div class="col-12 col-sm-6 col-lg-3" th:each="house : ${houses}"> <!--FOR EACH LOOP FOR ALL HOUSES-->
            <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                <!-- House Image-->
                <div class="advisor_thumb"><img th:src="${house.image_url}" width="350" height="350" alt="HOUSE IMAGE">
                    <a th:href="@{/houses/{id}(id=${house.id})}" class="stretched-link"></a>
                </div>
                <!-- House Information-->
                <div class="single_advisor_details_info multiAddress">
                    <a th:href="@{/houses/{id}(id=${house.id})}" class="stretched-link"></a>
                    <h6 class="address" th:text="${house.address}"></h6>
                    <p class="city" th:text="${house.city}"></p>
                    <p class="state" th:text="${house.state}"></p>
                </div>
            </div>
        </div>
    </div>
    <!--mapbox here-->
    <div class="row justify-content-center mb-4">
            <div id='map2' style='width: 80%; height: 500px;' class="d-flex"></div>
        <input type="hidden" th:value="${MAPBOX_ACCESS_TOKEN}" class="mapboxToken">
    </div>
    <!--    end of map box-->
</div>
<div th:replace="partials/scripts.html :: scripts"/>
<script src="/js/geocodeUtil.js"></script>
<script>

    /// making the map and centering it on SA

    mapboxgl.accessToken =  $(".mapboxToken").val();
    const map2 = new mapboxgl.Map({
        container: 'map2', // container ID
        style: 'mapbox://styles/mapbox/streets-v11', // style URL
        center: [-98.4936, 29.4241], // starting position [lng, lat]
        zoom: 8.7 // starting zoom. This zoom covers 1604 loop
    });
    map2.on('load', function(){
        map2.resize;
    })


    //plotting all markers
    function plotMarkers() {
        var allMarkers = [];
        $('.multiAddress').each(function () {
            var adressMulti, cityMulti, stateMulti;
            adressMulti = $(this).children('.address').first().text();
            cityMulti = $(this).children('.city').first().text();
            stateMulti = $(this).children('.state').first().text();
            var address = adressMulti + " " + cityMulti + " " + stateMulti;
            allMarkers.push({address});
        });
        $('document').ready(function () {
            var setMarkers = $("address").val();
            allMarkers.forEach(function (houseMarker) {
                geocode(houseMarker.address, $(".mapboxToken").val()).then(function (results) {
                    console.log(results)
                    var lngLat = {
                        lng: results[0],
                        lat: results[1]
                    };
                    var marker = new mapboxgl.Marker()
                        .setLngLat(lngLat)
                        .addTo(map2);
                })
            })
        });
        console.log(allMarkers);
    }

    plotMarkers();
</script>
</body>
</html>