<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('Property listing')"/>
<head>
    <link rel="stylesheet" th:href="@{/css/showSingleHouseCSS.css}">
    <link rel="stylesheet" th:href="@{/css/Main.css}">
    <style>
        .btn-width {
            width: 5em;
        }
    </style>
</head>
<body>
<nav th:replace="partials/navbar.html :: navbar"></nav>

<div class="container py-3">
    <div id="houseAddress" th:text="${house.address}" class="title h1 text-center"></div>
    <!-- Card Start -->
    <div class="card">
        <div class="row ">
            <div class="col-md-7 px-3">
                <div class="card-block px-6">
                    <h2 class="card-title text-center">House Information</h2>
                    <p th:text="${house.description}" class="card-text text-center"></p>
                    <p  id="houseCity" th:text="${house.city}" class="card-text text-center"></p>
                    <p  id="houseState" th:text="${house.state}" class="card-text text-center"></p>
                    <p  id="houseZipcode" th:text="${house.zipcode}" class="card-text text-center"></p>
                    <br>
                    <div th:if="${isHouseOwner}" class="row d-flex justify-content-center">
                        <a th:href="@{/houses/edit/{id}(id=${house.id})}" class="btn btn-primary btn-width ">Edit</a>
                        <form th:action="@{/houses/delete/{id}(id=${house.id})}" method="post" class=" d-flex justify-content-center">
                            <input type="submit" class="btn btn-danger btn-width " value="Delete"/>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="advisor_thumb"><img th:src="${house.image_url}" width="525" height="375" alt="HOUSE IMAGE"></div>
            </div>
        </div>
    </div>
    <!-- End of card -->
</div>
<div th:replace="partials/scripts.html :: scripts"></div>
</body>
</html>