<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('Create Review')"/>
<body>
<nav th:replace="partials/navbar.html :: navbar"/>
<h1>Leave a review of a Buying Agent!</h1>
<div class="form">
    <form class="container" action="/reviews/create" th:action="@{/reviews/create}" method="post" th:object="${review}">

            <div th:each="buyinguser : ${users}">
                <p th:text="${Review.buyingUser}"/>
            </div>

            <div class="form-group">
                <label for="address">Title</label>
                <input id="address" name="address" type="text" class="form-control" th:field="*{title}"/>
            </div>

            <div class="rate">
                <input type="radio" th:field="*{rating}" id="star5" name="rate" value="5"/>
                <label for="star5" title="text">5 stars</label>
                <input type="radio" th:field="*{rating}" id="star4" name="rate" value="4"/>
                <label for="star4" title="text">4 stars</label>
                <input type="radio" th:field="*{rating}" id="star3" name="rate" value="3"/>
                <label for="star3" title="text">3 stars</label>
                <input type="radio" th:field="*{rating}" id="star2" name="rate" value="2"/>
                <label for="star2" title="text">2 stars</label>
                <input type="radio" th:field="*{rating}" id="star1" name="rate" value="1"/>
                <label for="star1" title="text">1 star</label>
            </div>
            <div class="rev-box form-group shadow-textarea">
                <label class="review" for="review">Please leave a short review of your experience</label>
                <textarea id="review" th:field="*{description}" class="review form-control" name="review"></textarea>
            </div>
            <button class="btn btn-primary" type="submit">Post</button>
    </form>
</div>

<footer th:replace="partials/footer.html :: footer"/>
<div th:replace="partials/scripts.html :: scripts"/>
</body>
</html>