<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('Create event')"/>
<link rel="stylesheet" th:href="@{/css/Main.css}">
<body>
<nav th:replace="partials/navbar.html :: navbar"></nav>

<!--CREATE EVENT-->
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="openHouseEventCreate-form mb-4">
                <form th:action="@{/events/create}" method="post" th:object="${openHouseEvent}" class="mt-5 border p-4 bg-light shadow">
                    <h4 class="mb-5 text-secondary text-center">Create An Open House Event</h4>
                    <div class="row">
                        <div class="mb-3 col-md-12 form-group">
                            <label for="startDate">Start date / time</label><span class="required text-danger"> *</span>
                            <input id="startDate" name="startDate" type="datetime-local" class="form-control" placeholder="YYYY-MM-DD"/>
                            <p th:if="${doesNotStartAndEndOnSameDay != null && doesNotStartAndEndOnSameDay}">Start date and end date must be on the same day</p>
                            <p th:if="${eventOnSelectedDateAlreadyExists != null && eventOnSelectedDateAlreadyExists}">You already scheduled an event for this house on this date, please select another date</p>
                            <p th:if="${doesNotStartAfterCurrentDateAndTime != null && doesNotStartAfterCurrentDateAndTime}">You cannot schedule your event in the past</p>
                            <p th:if="${startTimeNotBeforeEndTime != null && startTimeNotBeforeEndTime}">Start time must be before end time</p>
                        </div>
                        <div class="mb-3 col-md-12 form-group">
                            <label for="endDate">End date / time</label><span class="required text-danger"> *</span>
                            <input id="endDate" name="endDate" type="datetime-local" class="form-control" placeholder="YYYY-MM-DD"/>
                        </div>
                        <h6>Please select a listing<span class="required text-danger"> *</span></h6>
                        <div class="mb-3 col-md-12 input-group">
                            <label class="input-group-text" for="house">Listings</label>
                            <select class="form-select" id="house" name="house" th:field="*{house}">
                                <option th:each="house: ${houses}" th:value="${house.id}" th:text="${house.address}"/>
                            </select>
                        </div>
                        <div class="form-group"></div>
                        <input style="color: white; background-color: #24ade3" type="submit" value="Create event" class="btn btn-block"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div th:replace="partials/scripts.html :: scripts"/>
</body>
</html>