<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('Create event')"/>
<body>
<nav th:replace="partials/navbar.html :: navbar"></nav>
<h1>Create open house event!</h1>
<form class="container" action="/events/create" th:action="@{/events/create}" method="post" th:object="${openHouseEvent}">
    <div class="form-group">
        <label for="startDate">Date of event</label>
        <input id="startDate" name="startDate" type="datetime-local" class="form-control" placeholder="YYYY-MM-DD"/>
    </div>
    <div class="form-group">
        <label for="endDate">Date of event</label>
        <input id="endDate" name="endDate" type="datetime-local" class="form-control" placeholder="YYYY-MM-DD"/>
    </div>
    <select id="housesDropdown" name="housesDropdown" th:field="*{house}">
        <option th:each="house: ${houses}" th:value="${house.id}" th:text="${house.address}"/>
    </select>
    <input type="submit" value="Create event" class="btn btn-block btn-info" />
</form>
<footer th:replace="partials/footer.html :: footer"/>
<div th:replace="partials/scripts.html :: scripts"/>
</body>

</html>