<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('Edit event')"/>
<body>
<nav th:replace="partials/navbar.html :: navbar"/>

<!--EDIT OPEN HOUSE EVENT-->
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="openHouseEdit-form mb-4">
                <h1>Edit event date/time</h1>
                <form th:action="@{/events/edit/{id}(id=${openHouseEvent.id})}" method="post"
                      th:object="${openHouseEvent}" class="mt-5 border p-4 bg-light shadow">
                    <h4 class="mb-5 text-secondary">Edit event date/time</h4>
                    <div class="row">
                        <div class="mb-3 col-md-12 form-group">
                            <p>Previous event start date <span th:text="${openHouseEvent.dateStart}"/></p>
                            <!--NEED TO FORMAT TIME-->
                            <label for="startDate">New Start time/date of event</label>
                            <input id="startDate" name="startDate" type="datetime-local" class="form-control"/>
                        </div>
                        <div class="mb-3 col-md-12 form-group">
                            <p>Previous event end date <span th:text="${openHouseEvent.dateEnd}"/></p>
                            <!--NEED TO FORMAT TIME-->
                            <label for="endDate">New End time/date of event</label>
                            <input id="endDate" name="endDate" type="datetime-local" class="form-control"/>
                        </div>
                        <div class="mb-3 col-md-12 form-group">
                            <input type="submit" value="Edit event" class="btn btn-block btn-info"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<footer th:replace="partials/footer.html :: footer"/>
<div th:replace="partials/scripts.html :: scripts"/>
</body>

</html>