<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('Edit event')"/>
<link rel="stylesheet" th:href="@{/css/Main.css}">
<body>
<nav th:replace="partials/navbar.html :: navbar"/>

<!--EDIT OPEN HOUSE EVENT-->
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="openHouseEdit-form mb-4">
                <h1>Edit event date/time</h1>
                <form th:action="@{/events/edit/{id}(id=${openHouseEvent.id})}" method="post" th:object="${openHouseEvent}" class="mt-5 border p-4 bg-light shadow">
                    <h4 class="mb-5 text-secondary">Edit event date/time</h4>
                    <div class="row">
                        <div class="mb-3 col-md-12 form-group">
                            <p>Previous event start date <span th:text="${#dates.format(openHouseEvent.dateStart, 'MMM-dd-yyyy h:mm a')}"/></p>
                            <label for="startDate">New Start time/date of event</label>
                            <input id="startDate" name="startDate" type="datetime-local" class="form-control"/>
                            <p th:if="${doesNotStartAndEndOnSameDay != null && doesNotStartAndEndOnSameDay}">Start date and end date must be on the same day</p>
                            <p th:if="${eventOnSelectedDateAlreadyExists != null && eventOnSelectedDateAlreadyExists}">You already scheduled an event for this house on this date, please select another date</p>
                            <p th:if="${doesNotStartAfterCurrentDateAndTime != null && doesNotStartAfterCurrentDateAndTime}">You cannot schedule your event in the past</p>
                            <p th:if="${startTimeNotBeforeEndTime != null && startTimeNotBeforeEndTime}">Start time must be before end time</p>
                        </div>
                        <div class="mb-3 col-md-12 form-group">
                            <p>Previous event end date <span th:text="${#dates.format(openHouseEvent.dateEnd, 'MMM-dd-yyyy h:mm a')}"/></p>
                            <label for="endDate">New End time/date of event</label>
                            <input id="endDate" name="endDate" type="datetime-local" class="form-control"/>
                        </div>
                        <div class="mb-3 col-md-12 form-group">
                            <input type="submit" value="Edit event" class="btn btn-block btn-info"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div th:replace="partials/scripts.html :: scripts"/>
</body>
</html>