<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('Open House Events')"/>
<head>
    <link rel="stylesheet" th:href="@{/css/eventsIndexStyle.css}">
</head>
<body>
<nav th:replace="partials/navbar.html :: navbar"/>

<div class="container mb-4">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-8 col-lg-6">
            <!-- Section Heading-->
            <div class="section_heading text-center wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                <h1>Open House Events</h1>
                <p style="font-size: x-large">Here are all the open house events happening around San Antonio</p>
                <div class="line"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- Single Card-->
        <div class="col-12 col-sm-6 col-lg-3" th:each="openHouseEvent : ${openHouseEvents}">
            <!--FOR EACH LOOP FOR ALL EVENTS-->
            <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                <!-- House Image-->
                <div class="advisor_thumb"><img th:src="${openHouseEvent.house.image_url}" width="350" height="350" alt="HOUSE IMAGE">
                    <a th:href="@{/events/{id}(id=${openHouseEvent.id})}" class="stretched-link"></a>
                </div>
                <!-- House Information-->
                <div class="single_advisor_details_info multiAddress">
                    <a th:href="@{/events/{id}(id=${openHouseEvent.id})}" class="stretched-link"></a>
                    <h5 class="address" th:text="${openHouseEvent.house.address}"></h5>
                    <p style="font-size: large" class="city" th:text="${openHouseEvent.house.city}"></p>
                    <p style="font-size: large" class="state" th:text="${openHouseEvent.house.state}"></p>
                    <p style="font-size: large" class="dateStart" th:text="${#dates.format(openHouseEvent.dateStart, 'MMM-dd-yyyy h:mm a')}"></p>
                    <p style="font-size: large" class="dateEnd" th:text="${#dates.format(openHouseEvent.dateEnd, 'MMM-dd-yyyy h:mm a')}"></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="partials/scripts.html :: scripts"/>
</body>
</html>