<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/head :: head('Single Event')"/>
<head>
    <link rel="stylesheet" th:href="@{/css/showSingleHouseCSS.css}">
    <style>
        .btn-width {
            width: 5em;
        }
    </style>
</head>

<body>
<nav th:replace="partials/navbar.html :: navbar"/>

<div class="container py-3">
    <div class="title h1 text-dark text-center">
        <h4><span id="houseAddress" th:text="${openHouseEvent.house.address}"/>, <span id="houseCity"
                th:text="${openHouseEvent.house.city}"/>, <span id="houseState" th:text="${openHouseEvent.house.state}"/><span id="houseZipcode"
                th:text="${openHouseEvent.house.zipcode}"/></h4>
    </div>
    <div class="card">
        <div class="row">
            <div class="col-md-7 px-3">
                <div class="card-block px-6"></div>
                <h4 class="card-title text-center">Event Information</h4>
                <div class="card-body text-dark text-center">
                    <p>Start Time: <span th:text="${#dates.format(openHouseEvent.dateStart, 'MMM-dd-yyyy h:mm a')}"/>
                    </p>
                    <p>End Time: <span th:text="${#dates.format(openHouseEvent.dateEnd, 'MMM-dd-yyyy h:mm a')}"/></p>
                    <p>Listing Agent: <a th:href="@{/profile/{id}(id=${openHouseEvent.house.user.id})}"><span
                            th:text="${openHouseEvent.house.user.firstName}"/> <span
                            th:text="${openHouseEvent.house.user.lastName}"/></a></p>
                    <p th:if="${openHouseEvent.house.user.id != openHouseEvent.user.id}">Host name: <a
                            th:href="@{/profile/{id}(id=${openHouseEvent.user.id})}"><span
                            th:text="${openHouseEvent.user.firstName}"/> <span
                            th:text="${openHouseEvent.user.lastName}"/></a>
                    </p>
                </div>
                <div class="row d-flex justify-content-center">
                    <div sec:authorize="isAuthenticated()" class="text-center"
                         th:if="${isEventCreator && currentDateTime.before(openHouseEvent.dateStart)}">
                        <div sec:authorize="isAuthenticated()" class="text-center"
                             th:if="${isEventCreator && currentDateTime.before(openHouseEvent.dateStart)}">
                            <a th:href="@{/events/edit/{id}(id=${openHouseEvent.id})}"
                               class="btn btn-primary btn-width">Edit</a>
                            <form th:action="@{/events/delete/{id}(id=${openHouseEvent.id})}" method="post"
                                  class="d-flex justify-content-center">
                                <input type="submit" value="Delete" class="btn btn-danger btn-width">
                            </form>
                        </div>
                        <a sec:authorize="isAuthenticated()"
                           th:if="${!isEventCreator && hasNotApplied && currentDateTime.before(openHouseEvent.dateStart)}"
                           th:href="@{/events/apply/{id}(id=${openHouseEvent.id})}" class="btn btn-primary">Apply</a>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="advisor_thumb"><img th:src="${openHouseEvent.house.image_url}" width="525" height="345"
                                                    alt="HOUSE IMAGE"></div>
                </div>
            </div>
        </div>
    </div>
    <!--mapbox here-->
    <div class="row justify-content-center mb-4">
        <div id='map' style='width: 70%; height: 500px;' class="d-flex"></div>
        <input type="hidden" th:value="${MAPBOX_ACCESS_TOKEN}" class="mapboxToken">

    </div>
    <!--    end of map box-->
    <div sec:authorize="isAuthenticated()">
        <div style="width: 30rem;" class="card" th:if="${isEventCreator && openHouseEvent.feedback != null}">
            <h3>Event feedback:</h3>
            <div class="card-body">
                <p>Host name: <span th:text="${openHouseEvent.user.firstName}"/> <span
                        th:text="${openHouseEvent.user.lastName}"/></p>
                <p>Feedback: <span th:text="${openHouseEvent.feedback}"/></p>
            </div>
        </div>
        <div sec:authorize="isAuthenticated()"
             th:if="${isEventCreator && currentDateTime.before(openHouseEvent.dateStart)}">
            <h3 th:if="${!applications.isEmpty()}">Applicants</h3>
            <div style="width: 30rem;" class="card" th:each="app : ${applications}">
                <div class="card-body">
                    <p>Application date: <span th:text="${#dates.format(app.date, 'MMM-dd-yyyy h:mm a')}"/></p>
                    <p>Applicant name: <a th:href="@{/profile/{id}(id=${app.user.id})}"> <span
                            th:text="${app.user.firstName}"/> <span th:text="${app.user.lastName}"/></a></p>
                    <p>Inquiry: <span th:text="${app.inquiry}"/></p>
                    <form th:action="@{/events/apply/host/{eventId}/{userId} (eventId=${openHouseEvent.id}, userId=${app.user.id})}"
                          method="post">
                        <input type="submit" value="Set host" class="btn btn-primary"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="partials/footer.html :: footer"/>
<div th:replace="partials/scripts.html :: scripts"/>
</body>
</html>