<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('Agent Info')"/>
<body>
<nav th:replace="partials/navbar.html :: navbar"></nav>

<div class="container">
    <div class="col-8 card border border-dark text-center mb-1 mx-auto">
        <div class="card-header blue-bg text-dark">
            <h3 id="profileName"><span th:text="${userProfile.firstName}"/> <span th:text="${userProfile.lastName}"/></h3>
        </div>
        <div class="card-body text-dark">
            <h5>Contact Info</h5>
            <p>Email: <a th:href="@{mailto:{email}(email=${userProfile.email})}" th:text="${userProfile.email}"/></p>
            <p>Phone Number: <span th:text="${userProfile.phone}"/></p>
            <p>Agent Team: <span th:text="${userProfile.team}"/></p>
            <p th:if="${hasReviews}">Agent Rating: <span th:text="${userRating}"/> out of 5 </p>
        </div>
    </div>
    <div class="col-8 row mx-auto" th:if="${hasReviews}">
        <h4 class="text-center mt-2 mb-2">Agent reviews</h4>
        <div th:each="review : ${reviewsList}" class="card border p-0 border-dark text-center mb-3">
            <div class="card-header blue-bg text-dark">
                <h5 th:text="${review.title}"/>
                <h6>Rating: <span th:text="${review.rating}"> out of 5</span></h6>
            </div>
            <div class="card-body text-dark">
                <p th:text="${review.description}"></p>
            </div>
            <div class="card-footer">
                <p class="m-0">Reviewed by: <a th:href="@{/profile/{id}(id=${review.listingUser.id})}"><span th:text="${review.listingUser.firstName}"/> <span th:text="${review.listingUser.lastName}"/></a> <span th:text="${#dates.format(review.date, 'MMM-dd-yyyy')}"/></p>
            </div>
        </div>
    </div>
</div>
<th:block th:include="partials/scripts.html :: scripts"></th:block>
</body>
</html>