<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('Agent Info')"/>
<body>
<nav th:replace="partials/navbar.html :: navbar"></nav>

<div>
    <div class="card border border-dark mb-1">
        <div class="card-header text-dark text-center">
            <h3 id="profileName"><span th:text="${user.firstName}"/> <span th:text="${user.lastName}"/></h3>
        </div>
        <div class="card-body text-dark text-center">
            <h5>Contact Info</h5>
            <p>Email: <span th:text="${user.email}"/></p>
            <p> Phone Number: <span th:text="${user.phone}"/></p>
            <p>Agent Team: <span th:text="${user.team}"/></p>
            <p th:if="${hasReviews}">Agent Rating: <span th:text="${userRating}"/> out of 5 </p>
        </div>
    </div>
    <div th:if="${hasReviews}" th:each="review : ${reviewsList}" class="card border border-dark mb-1">
        <h4>Agent reviews</h4>
        <div class="card-header text-dark text-center">
            <h6>Rating: <span th:text="${review.rating}"> out of 5</span></h6>
            <h5 th:text="${review.title}"/>
        </div>
        <div class="card-body text-dark text-center">
            <p th:text="${review.description}"></p>
            <p>Reviewed by: <span th:text="${review.listingUser.firstName}"/> <span th:text="${review.listingUser.lastName}"/></p>
        </div>
    </div>
</div>




<th:block th:include="partials/scripts.html :: scripts"></th:block>
</body>
<footer th:replace="partials/footer.html :: footer"></footer>
</html>