<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head.html :: head('Edit Password')">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="partials/navbar.html :: navbar"/>

<div class="form">
    <form th:action="@{/users/editPassword}" th:method="POST">
        <label for="oldPassword">Enter Your Current Password</label>
        <input id="oldPassword" name="oldPassword" type="password" />
        <label for="newPassword">Enter a New Password</label>
        <input id="newPassword" name="newPassword" type="password" />
        <label for="newPassword-confirm">Confirm New Password</label>
        <input id="newPassword-confirm" name="confirm" type="password" />
        <button class="btn btn-primary" type="submit">Reset Password</button>
    </form>
</div>

<footer th:replace="partials/footer.html :: footer"/>
<div th:replace="partials/scripts.html :: scripts"/>
</body>
</html>