<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head.html :: head('Edit Password')">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="partials/navbar.html :: navbar"/>

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="editPassword-form">
                <form th:action="@{/users/editpassword}" th:method="POST" class="mt-5 border p-4 bg-light shadow">
                    <h4 class="mb-5 text-secondary">Edit Your Password</h4>
                    <div class="mb-3 col-md-12 form-group">
                        <label for="oldPassword">Enter Your Current Password</label>
                        <input id="oldPassword" name="oldPassword" type="password" class="form-control"/>
                        <p th:if="${incorrectPassword != null && incorrectPassword}">Incorrect password</p>
                    </div>
                    <div class="mb-3 col-md-12 form-group">
                        <label for="newPassword">Enter a New Password</label>
                        <input id="newPassword" name="newPassword" type="password" class="form-control"/>
                        <p th:if="${passwordsDoNotMatch != null && passwordsDoNotMatch}">Passwords do not match</p>
                        <p th:if="${passwordNot8Chars != null && passwordNot8Chars}">Password must be at least 8 characters</p>
                    </div>
                    <div class="mb-3 col-md-12 form-group">
                        <label for="newPasswordConfirm">Confirm New Password</label>
                        <input id="newPasswordConfirm" name="newPasswordConfirm" type="password" class="form-control"/>
                    </div>
                    <div>
                        <button class="btn btn-primary" type="submit">Reset Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div th:replace="partials/scripts.html :: scripts"/>
</body>
</html>