<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head.html :: head('Edit Profile')">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="form">
    <div>Edit Profile Info</div>
    <form class="animated" th:action="@{/profile/edit}" th:object="${user}" method="post">
        <label for="first_name">First Name</label>
        <input id="first_name" type="text" th:field="*{firstName}" th:value="${user.firstName}">
        <label for="last_name">Last Name</label>
        <input id="last_name" type="text" th:field="*{lastName}" th:value="${user.lastName}">
        <label for="username">Username</label>
        <input id="username" type="text" th:field="*{username}" th:value="${user.username}"/>
        <input id="password" type="hidden" th:field="*{password}" th:value="${user.password}"/>
        <label for="email">Email</label>
        <input id="email" type="text" th:field="*{email}" th:value="${user.email}"/>
        <label for="team">Real Estate Team</label>
        <input id="team" type="text" th:field="*{team}" th:value="${user.team}">
        <label for="phoneNumber">Phone Number</label>
        <input id="phoneNumber" type="text" th:field="*{phone}" th:value="${user.phone}">
        <div th:if="${!user.isListingAgent()}">
            <label for="isListingAgent">Would you like to become a listing agent?</label>
            <input type="checkbox" id="isListingAgent" name="isListingAgent" value="1">
        </div>
        <button class="btn btn-primary" type="submit">Submit Changes</button>
        <p>Want to change your password?</p>
        <p> <a th:href="@{/users/editPassword}">Change Account Password</a></p>
    </form>
</div>

</body>
</html>