<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head.html :: head('Login')">
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body class="text-center">
<nav th:replace="partials/navbar.html :: navbar"/>
<div class="row justify-content-center">
    <div class="col-4 justify-content-center">
        <main class="form-signin">
            <form th:action="@{/login}" method="post" class="mt-5 border p-4 bg-light shadow">
                <img class="mb-4" src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="AGENT-LINK LOGO HERE" width="72" height="57">
                <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
                <div th:if="${param.error}">
                    Invalid Username and Password.
                </div>
                <div th:if="${param.logout}">
                    You have been logged out.
                </div>

                <div class="form-group">
                    <label for="username">Username</label>
                    <input id="username" name="username" placeholder="Username" class="form-control" type="text"/>
                </div>
                <div class="form-group mb-3">
                    <label for="password">Password</label>
                    <input id="password" name="password" placeholder="Password" class="form-control" type="password"/>
                </div>
                <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
                <p class="mt-5 mb-3 text-muted">©2021</p>
            </form>
        </main>
    </div>
</div>
<footer th:replace="partials/footer.html :: footer"/>
<div th:replace="partials/scripts.html :: scripts"/>
</body>
</html>