<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <head th:replace="partials/head :: head('Profile')"></head>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>

<div>Here are your Houses: </div>
<div class="card-body" th:each="house : ${houses}">
    <h5 th:text="${house.address}" class="card-title"></h5>
    <p th:text="${house.description}" class="card-text"></p>
    <a th:href="@{'/houses/edit/' + ${house.id}}" class="btn btn-primary">Edit</a>
    <a th:href="@{'/houses/delete/' + ${house.id}}" class="btn btn-danger">Delete</a>
</div>

<div>Here are your Open House Events: </div>
<div class="card-body" th:each="openHouseEvents : ${openHouseEvents}">
    <h5 th:text="${openHouseEvents.house.address}" class="card-title"></h5>
    <p th:text="${openHouseEvents.house.description}" class="card-text"></p>
    <p th:text="${openHouseEvents.date}" class="card-text"></p>
    <p th:text="${openHouseEvents.startTime}" class="card-text"></p>
    <a th:href="@{'/events/edit/' + ${openHouseEvents.id}}" class="btn btn-primary">Edit</a>
    <a th:href="@{'/events/delete/' + ${openHouseEvents.id}}" class="btn btn-danger">Delete</a>
</div>



<footer th:replace="partials/footer :: footer"></footer>
<div th:replace="partials/scripts :: scripts"></div>
</body>
</html>