<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('Profile')"></head>
<head>
    <style>
        .btn-width {
            width: 8em;
            margin-bottom: .5em;
        }

        #calendar {
            background-color: #ffffff;
        }

        .container {
            padding-left: 15px;
            padding-right: 10px;
            margin-right: auto;
            margin-left: auto;
        }

        .cal-container {
            padding-left: 17px;
            padding-right: 0px;
            margin-right: auto;
            margin-left: auto;
        }

        #myTab {
            background-color: lightgray;
            margin-left: 1em;
        }
        .fc .fc-toolbar-title {
            padding-top: .25em;
            padding-left: .5em;
        }
        .fc-toolbar-chunk {
            padding-top: .25em;
            padding-right: .5em;
        }
    </style>
    <link rel="stylesheet" th:href="@{/css/Main.css}">
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>

<!--This is the start of where we get our tabs set up. We used generic bootstrap tabs to be able to to over flow the profile page with to much info all at once.
This section sets up the tabs as buttons and allows them to go to the linked data. There are some tabs that are only seen buy buying agents or listing agents
and there are tabs that are seen by both types of agents.We use boolean checks to make sure which agent can see which data and if there are houses or events
even saved to be displayed.-->

<div class="row flex-wrap">
    <div class="col-12 flex-wrap pr-0">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button style="color: #1172be" class="nav-link active" id="calendar-tab" data-bs-toggle="tab" data-bs-target="#calendars" type="button" role="tab" aria-controls="calendars" aria-selected="true">Calendar</button>
            </li>
            <li th:if="${user.isListingAgent() && !houses.isEmpty()}" class="nav-item" role="presentation">
                <button style="color: #1172be" class="nav-link " id="listings-tab" data-bs-toggle="tab" data-bs-target="#listings" type="button" role="tab" aria-controls="listings" aria-selected="false">Listings</button>
            </li>
            <li th:if="${user.isListingAgent() && !upcomingEvents.isEmpty()}" class="nav-item" role="presentation">
                <button style="color: #1172be" class="nav-link" id="upcoming-events-tab" data-bs-toggle="tab" data-bs-target="#upcoming-events" type="button" role="tab" aria-controls="upcoming-events" aria-selected="false">Upcoming Events</button>
            </li>
            <li th:if="${!previousEvents.isEmpty()}" class="nav-item" role="presentation">
                <button style="color: #1172be" class="nav-link" id="previous-events-tab" data-bs-toggle="tab" data-bs-target="#previous-events" type="button" role="tab" aria-controls="previous-events" aria-selected="false">Previous Events</button>
            </li>
            <li th:if="${!hostingEvents.isEmpty()}" class="nav-item" role="presentation">
                <button style="color: #1172be" class="nav-link" id="hosting-events-tab" data-bs-toggle="tab" data-bs-target="#hosting-events" type="button" role="tab" aria-controls="hosting-events" aria-selected="false">Events You're Hosting</button>
            </li>
            <li th:if="${!appliedEvents.isEmpty()}" class="nav-item" role="presentation">
                <button style="color: #1172be" class="nav-link" id="applied-events-tab" data-bs-toggle="tab" data-bs-target="#applied-events" type="button" role="tab" aria-controls="applied-events" aria-selected="false">Events Applied To</button>
            </li>
        </ul>
    </div>
    <!--    So this is the start of the info that displays in each tab!-->
    <!--    First off we have the calendar tab that literally gets filled through the ID in the div. Its filled by the JavaScript that is linked to the calendar ID.-->
    <div class="row">
        <div class="col-8">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="calendars" role="tabpanel" aria-labelledby="calendar-tab">
                    <div class="cal-container">
                        <div id='calendar'></div>
                    </div>
                </div>
    <!--        so here is the start of the data that fills the listings tab! It is filled almost the same way we fill our House Index page. We iterate through an array
                using the house objects to call each piece of data we need such as the address, state, etc..-->
                <div class="tab-pane fade" id="listings" role="tabpanel" aria-labelledby="listings-tab">
                    <div class="container">
                        <div class="row justify-content-around">
                            <div class="card col-xs-12 col-sm-12 col-md-12 col-lg-5 mt-3 pl-3 mb-3 shadow-lg bg-body rounded" th:each="house : ${houses}" th:if="${house.isListingActive() == true}">
                                <div class="row no-gutters">
                                    <div class="col-7">
                                        <h4 class="card-title text center mt-2"><a th:href="@{/houses/{id}(id=${house.id})}"><span th:text="${house.address}"></span></a></h4>
                                        <p th:text="${house.description}" class="card-text"></p>
                                        <a style="color: white; background-color: #24ade3" th:href="@{'/houses/edit/' + ${house.id}}" class="btn btn-width">Edit</a>
                                        <form th:action="@{/houses/deactivate/{id}(id=${house.id})}" method="post">
                                            <input type="submit" class="btn btn-danger btn-width" value="Deactivate"/>
                                        </form>
                                    </div>
                                    <div class="col-5 mt-0 mb-0 mr-3 p-0 advisor_thumb">
                                        <img class="align-middle" th:src="${house.image_url}" width="100%" height="100%" alt="HOUSE IMAGE">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--so here is the start of the data that fills the upcoming open house events tab that either show events you have created but do not have a host set, or shows
                the events you have been approved to host as a buying agent. It is filled almost the same way we fill our Open house events Index page. We iterate thru an array
                using the openhouseevent object to call each piece of data we need such as the address, start time, etc..-->
                <div class="tab-pane fade" id="upcoming-events" role="tabpanel" aria-labelledby="upcoming-events-tab">
                    <div class="container">
                        <div class="row container">
                            <div class="card col-xs-12 col-sm-12 col-md-12 col-lg-5 m-3 shadow-lg p-2 mb-5 bg-body rounded"
                                 th:each="openHouseEvent : ${upcomingEvents}">
                                <div class="row justify-content-center">
                                    <div class="col-7 event text-center">
                                        <h4 class="card-title event-title"><a th:href="@{/events/{id}(id=${openHouseEvent.id})}"><span th:text="${openHouseEvent.house.address}"></span></a></h4>
                                        <p th:text="${openHouseEvent.house.description}" class="card-text"></p>
                                        <p>Event Start and End Time:</p>
                                        <p th:text="${#dates.format(openHouseEvent.dateStart, 'MMM-dd-yyyy h:mm a')}" class="card-text"></p>
                                        <p th:text="${#dates.format(openHouseEvent.dateEnd, 'MMM-dd-yyyy h:mm a')}" class="card-text"></p>
                                        <p hidden th:text="${openHouseEvent.dateStart}" class="card-text event-start"></p>
                                        <p hidden th:text="${openHouseEvent.dateEnd}" class="card-text event-end"></p>
                                        <p hidden th:text="${openHouseEvent.id}" class="event-id"></p>
                                        <p th:if="${openHouseEvent.house.user.id != openHouseEvent.user.id}">Host name:<a th:href="@{/profile/{id}(id=${openHouseEvent.user.id})}"><span th:text="${openHouseEvent.user.firstName}"/> <span th:text="${openHouseEvent.user.lastName}"/></a></p>
                                        <p th:if="${openHouseEvent.house.user.id == openHouseEvent.user.id}">Host needed!</p>
                                    </div>
                                    <div class="mt-3 text-center">
                                        <div th:if="${user.id == openHouseEvent.house.user.id && currentDateTime.before(openHouseEvent.dateStart)}">
                                            <a th:if="${currentDateTime.before(openHouseEvent.dateStart)}" th:href="@{'/events/edit/' + ${openHouseEvent.id}}" style="color: white; background-color: #24ade3" class="btn btn-width ">Edit</a>
                                            <form class="btn" th:action="@{/events/delete/{id}(id=${openHouseEvent.id})}" method="post">
                                                <input type="submit" value="Delete" class="btn btn-danger btn-width ">
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    <!--        This is where we begin to display the information that goes inside the Previous open house events tab which shows event sthat have passed either if you have hosted them
                or were the person that created them. Here we utilize an array that cycles and pulls info from the Open house event object to diplay the data we ask for such as the
                address, start date, etc...-->
                <div class="tab-pane fade" id="previous-events" role="tabpanel" aria-labelledby="previous-events-tab">
                    <div class="container">
                        <div class="row container">
                            <div class="card col-xs-12 col-sm-12 col-md-12 col-lg-5 m-3 shadow-lg p-2 mb-5 bg-body rounded" th:each="openHouseEvent : ${previousEvents}">
                                <div class="row justify-content-center">
                                    <div class="col-7 m-0 text-center">
                                        <h4 class="card-title event-title"><a th:href="@{/events/{id}(id=${openHouseEvent.id})}"><span th:text="${openHouseEvent.house.address}"></span></a></h4>
                                        <p th:text="${openHouseEvent.house.description}" class="card-text"></p>
                                        <p>Event Start and End Time:</p>
                                        <p th:text="${#dates.format(openHouseEvent.dateStart, 'MMM-dd-yyyy h:mm a')}" class="card-text"></p>
                                        <p th:text="${#dates.format(openHouseEvent.dateEnd, 'MMM-dd-yyyy h:mm a')}" class="card-text"></p>
                                        <p hidden th:text="${openHouseEvent.dateStart}" class="card-text event-start"></p>
                                        <p hidden th:text="${openHouseEvent.dateEnd}" class="card-text event-end"></p>
                                        <p th:if="${openHouseEvent.house.user.id != openHouseEvent.user.id}">Host agent:
                                            <a th:href="@{/profile/{id}(id=${openHouseEvent.user.id})}"><span th:text="${openHouseEvent.user.firstName}"/> <span th:text="${openHouseEvent.user.lastName}"/></a></p>
                                        <p>Listing agent: <a th:href="@{/profile/{id}(id=${openHouseEvent.house.user.id})}"><span th:text="${openHouseEvent.house.user.firstName}"/> <span th:text="${openHouseEvent.house.user.lastName}"/></a></p>
                                        <p th:if="${openHouseEvent.house.user.id == openHouseEvent.user.id}">You hosted this event by default.</p>
                                    </div>
                                    <div class="text-center">
                                        <a th:if="${user.id == openHouseEvent.house.user.id && user.id != openHouseEvent.user.id && currentDateTime.after(openHouseEvent.dateEnd) && openHouseEvent.review == null}" th:href="@{/reviews/{id}/create (id=${openHouseEvent.id})}" style="color: white; background-color: #24ade3" class="btn btn-color btn-width">Review Host</a>
                                        <a th:if="${user.id != openHouseEvent.house.user.id && user.id == openHouseEvent.user.id && currentDateTime.after(openHouseEvent.dateEnd) && openHouseEvent.feedback == null}" th:href="@{/event/feedback/{eventId} (eventId=${openHouseEvent.id})}" class="btn btn-color btn-width">Event Feedback</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    <!--        Here is where we start to fill our Events your set to host tab. This shows the events that a buying agents are set to host after a listing agent sets them to host.
                We use an array that pulls data from the open house event object to display the address, start date, etcc...-->
                <div class="tab-pane fade" id="hosting-events" role="tabpanel" aria-labelledby="hosting-events-tab">
                    <div class="row container">
                        <div class="card col-xs-12 col-sm-12 col-md-12 col-lg-5 m-3 shadow-lg p-2 mb-5 bg-body rounded" th:each="openHouseEvent : ${hostingEvents}">
                            <div class="row card-body justify-content-center">
                                <div class="col-7 event text-center">
                                    <h4 class="card-title event-title"><a th:href="@{/events/{id}(id=${openHouseEvent.id})}"><span th:text="${openHouseEvent.house.address}"></span></a></h4>
                                    <p th:text="${openHouseEvent.house.description}" class="card-text"></p>
                                    <p>Event start and end time</p>
                                    <p th:text="${#dates.format(openHouseEvent.dateStart, 'MMM-dd-yyyy h:mm a')}" class="card-text"></p>
                                    <p th:text="${#dates.format(openHouseEvent.dateEnd, 'MMM-dd-yyyy h:mm a')}" class="card-text"></p>
                                    <p hidden th:text="${openHouseEvent.dateStart}" class="card-text event-start"></p>
                                    <p hidden th:text="${openHouseEvent.dateEnd}" class="card-text event-end"></p>
                                    <p hidden th:text="${openHouseEvent.id}" class="event-id"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    <!--        This where we start to fill the final tab we have that can be displayed. We fill this tab with the data of the events you have applied too as a buying or a listing agent.
                This time we use the Application object to go and pull the store open house event data that is tied to each application by a foreign key. We use an array to iterate and
                display the information we are looking for such as the address, description, etc...-->
                <div class="tab-pane fade" id="applied-events" role="tabpanel" aria-labelledby="applied-events-tab">
                    <div class="row container">
                        <div class="card col-xs-12 col-sm-12 col-md-12 col-lg-5 m-3 shadow-lg p-2 mb-5 bg-body rounded" th:each="app : ${appliedEvents}">
                            <div class="row card-body justify-content-center">
                                <div class="col-7 text-center">
                                    <h4 class="card-title event-title"><a th:href="@{/events/{id}(id=${app.openHouseEvent.id})}"><span th:text="${app.openHouseEvent.house.address}"></span></a></h4>
                                    <p th:text="${app.openHouseEvent.house.description}" class="card-text"></p>
                                    <p>Event start and end time</p>
                                    <p th:text="${#dates.format(app.openHouseEvent.dateStart, 'MMM-dd-yyyy h:mm a')}" class="card-text"></p>
                                    <p th:text="${#dates.format(app.openHouseEvent.dateEnd, 'MMM-dd-yyyy h:mm a')}" class="card-text"></p>
                                    <p hidden th:text="${app.openHouseEvent.dateStart}" class="card-text event-start"></p>
                                    <p hidden th:text="${app.openHouseEvent.dateEnd}" class="card-text event-end"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3 m-3">
            <div class="card">
                <div class="card-header blue-bg text-center">
                    <h3 id="profileName"><span th:text="${user.firstName}"/> <span th:text="${user.lastName}"/></h3>
                </div>
                <div class="card-body text-dark text-center">
                    <h5>Contact Info</h5>
                    <p>Email: <span th:text="${user.email}"/></p>
                    <p> Phone Number: <span th:text="${user.phone}"/></p>
                    <p>Agent Team: <span th:text="${user.team}"/></p>
                    <p th:if="${hasReviews}">Agent Rating: <span th:text="${userRating}"/> out of 5 </p>
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <a style="color: white; background-color: #24ade3;"  class="btn btn-sm" th:href="@{/profile/{userId}(userId=${user.id})}">View Public Profile</a>
                    </div>
                     <br>
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <a style="color: white; background-color: #24ade3;"  class="btn btn-sm" th:href="@{/profile/edit}">Edit Your Profile</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="partials/scripts :: scripts"></div>
<div th:replace="partials/calendarScripts :: calendarScripts"></div>
</body>
</html>