<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <head th:replace="partials/head :: head('Profile')"></head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.9.0/main.min.css">


</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>

<h2 th:if="${!houses.isEmpty()}">Here are your Houses:</h2>
<div class="card-body" th:each="house : ${houses}">
    <h5 th:text="${house.address}" class="card-title"></h5>
    <p th:text="${house.description}" class="card-text"></p>
    <a th:href="@{'/houses/edit/' + ${house.id}}" class="btn btn-primary">Edit</a>
    <form th:action="@{/houses/delete/{id}(id=${house.id})}" method="post">
        <input type="submit" class="btn btn-danger" value="Delete"/>
    </form>
</div>

<h2 th:if="${!openHouseEvents.isEmpty()}">Here are your Open House Events:</h2>
<div class="card-body event" th:each="openHouseEvent : ${openHouseEvents}" th:if="${userId == openHouseEvent.house.user.id || userId == openHouseEvent.user.id}">
    <h5 th:text="${openHouseEvent.house.address}" class="card-title event-title"></h5>
    <p th:text="${openHouseEvent.house.description}" class="card-text"></p>
    <p>Open House Event Day and Time</p>
    <p th:text="${#dates.format(openHouseEvent.dateStart, 'MMM-dd-yyyy h:mm a')}" class="card-text "></p>
    <p th:text="${#dates.format(openHouseEvent.dateEnd, 'MMM-dd-yyyy h:mm a')}" class="card-text "></p>
    <p hidden th:text="${openHouseEvent.dateStart}" class="card-text event-start"></p>
    <p hidden th:text="${openHouseEvent.dateEnd}" class="card-text event-end"></p>
    <div th:if="${userId == openHouseEvent.house.user.id}">
        <a th:href="@{'/events/delete/' + ${openHouseEvent.id}}" class="btn btn-danger">Delete</a>
        <a th:if="${currentDateTime.before(openHouseEvent.dateStart)}" th:href="@{'/events/edit/' + ${openHouseEvent.id}}" class="btn btn-primary">Edit</a>
        <a th:if="${userId != openHouseEvent.user.id && currentDateTime.after(openHouseEvent.dateEnd) && openHouseEvent.review == null}" th:href="@{/reviews/{id}/create (id=${openHouseEvent.id})}" class="btn btn-primary">Review host</a>
    </div>
    <a th:href="@{/events/{id}(id=${openHouseEvent.id})}" class="btn btn-primary">More Details</a>
    <a th:if="${userId != openHouseEvent.house.user.id && userId == openHouseEvent.user.id && currentDateTime.after(openHouseEvent.dateEnd) && openHouseEvent.feedback == null}" th:href="@{/event/feedback/{eventId} (eventId=${openHouseEvent.id})}" class="btn btn-primary">Event feedback</a>
</div>

<p> <a th:href="@{/profile/edit}">Edit Your Profile</a></p>

<div id='calendar'></div>

<footer th:replace="partials/footer :: footer"></footer>
<div th:replace="partials/scripts :: scripts"></div>
<script th:src='@{/fullcalendar/main.js}'></script>
<script src="/calender.js"></script>
</body>
</html>