<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="partials/head.html :: head('Sign up')"/>
<body>
<nav th:replace="partials/navbar.html :: navbar"/>
<!--USER SIGN UP-->
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="signup-form">
                <form th:action="@{/sign-up}" method="POST" th:object="${user}" class="mt-5 border p-4 bg-light shadow">
                    <h4 class="mb-5 text-secondary">Create Your Account</h4>
                    <div class="row">
                        <div class="mb-3 col-md-12 form-group">
                            <label for="username">Username</label>
                            <input class="form-control" id="username" th:field="*{username}"
                                   placeholder="Enter User Name"/>
                            <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
                        </div>
                        <div class="mb-3 col-md-12 form-group">
                            <label for="email">Email</label>
                            <input class="form-control" id="email" th:field="*{email}"
                                   placeholder="AgentTony@KellerWilliams.com"/>
                            <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
                        </div>
                        <div class="mb-3 col-md-12 form-group">
                            <label for="signUpPassword">Password</label>
                            <input class="form-control" id="signUpPassword" name="signUpPassword" type="password"
                                   th:field="*{password}" placeholder="Password"/>
                            <!--The th:field should still take password if they match. -->
                            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
                        </div>
                        <div class="mb-3 col-md-12 form-group">
                            <label for="signUpPassword-confirm">Confirm Password</label>
                            <input class="form-control" id="signUpPassword-confirm" name="signUpPasswordConfirm"
                                   type="password" placeholder="Confirm Password"/>
                            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
                        </div>
                        <div class="mb-3 col-md-12 form-group">
                            <label for="firstName">First Name</label>
                            <input class="form-control" id="firstName" th:field="*{firstName}"
                                   placeholder="First Name"/>
                            <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></p>
                        </div>
                        <div class="mb-3 col-md-12 form-group">
                            <label for="lastName">Last Name</label>
                            <input class="form-control" id="lastName" th:field="*{lastName}" placeholder="Last Name"/>
                            <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p>
                        </div>
                        <div class="mb-3 col-md-12 form-group">
                            <label for="team">Team Name</label>
                            <input class="form-control" id="team" th:field="*{team}"
                                   placeholder="ReMax, Century 21, Keller Williams etc."/>
                            <p th:if="${#fields.hasErrors('team')}" th:errors="*{team}"></p>
                        </div>
                        <div class="mb-3 col-md-12 form-group">
                            <label for="isListingAgent">Are you a listing agent?</label>
                            <input type="checkbox" id="isListingAgent" name="isListingAgent" value="1">
                        </div>
                        <div class="mb-3 col-md-12 form-group">
                            <label for="phone">Phone Number</label>
                            <input class="form-control" id="phone" th:field="*{phone}" placeholder="5123273070"/>
                            <p th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></p>
                        </div>
                        <div class="form-group">
                            <input class="btn btn-block btn-info" value="Sign me up!" type="submit"/>
                        </div>
                    </div>
                </form>
                <!--LINK BACK TO LOGIN-->
                <p class="text-center mt-3 text-secondary">If you have account, Please <a href="/login">Login Now</a>
                </p>
            </div>
        </div>
    </div>
</div>

<footer th:replace="partials/footer.html :: footer"/>
<div th:replace="partials/scripts.html :: scripts"/>
</body>
</html>