<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="partials/head.html :: head('Sign up')"/>
<body>
<nav th:replace="partials/navbar.html :: navbar"/>
<h1>Create an account</h1>

<div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
        <div class="col-lg-7 text-center text-lg-start">
            <h1 class="display-4 fw-bold lh-1 mb-3">Looking for more?</h1>
            <p class="col-lg-10 fs-4">Get the ability to create properties, hosts open house events and get access to exclusive email content and email
                givaways.</p>
        </div>

        <div class="col-md-10 mx-auto col-lg-5">
            <form class="p-4 p-md-5 border rounded-3 bg-light" th:action="@{/sign-up}" method="POST"
                  th:object="${user}">
                <div class="form-floating mb-3">
                    <label for="username">Username</label>
                    <input class="form-control" id="username" th:field="*{username}"/>
                    <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
                </div>
                <div class="form-floating mb-3">
                    <label for="email">Email</label>
                    <input class="form-control" id="email" th:field="*{email}"/>
                    <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
                </div>
                <div class="form-floating mb-3">
                    <label for="password">Password</label>
                    <input class="form-control" id="password" type="password" th:field="*{password}"/>
                    <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
                </div>
                <div class="form-floating mb-3">
                    <label for="firstName">First Name</label>
                    <input class="form-control" id="firstName" th:field="*{firstName}"/>
                    <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></p>
                </div>
                <div class="form-floating mb-3">
                    <label for="lastName">Last Name</label>
                    <input class="form-control" id="lastName" th:field="*{lastName}"/>
                    <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p>
                </div>
                <div class="form-floating mb-3">
                    <label for="team">Team Name</label>
                    <input class="form-control" id="team" th:field="*{team}"/>
                    <p th:if="${#fields.hasErrors('team')}" th:errors="*{team}"></p>
                </div>
                <div class="form-floating mb-3">
                    <label for="phone">Phone Number</label>
                    <input class="form-control" id="phone" th:field="*{phone}"/>
                    <p th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></p>
                </div>
                <div class="form-floating mb-3">
                    <label for="isListingAgent">Are you a listing agent?</label>
                    <input type="checkbox" id="isListingAgent" name="isListingAgent" value="1">
                </div>
                <button class="w-100 btn btn-lg btn-primary" type="submit">Sign up</button>
                <hr class="my-4">
                <small class="text-muted">By clicking Sign up, you agree to the terms of use.</small>
                <!--                <input class="btn btn-block btn-info" value="Sign me up!" type="submit"/>-->
            </form>
        </div>
    </div>
</div>
<footer th:replace="partials/footer.html :: footer"/>
<div th:replace="partials/scripts.html :: scripts"/>
</body>
</html>