<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="partials/head.html :: head('Apply to host')"/>
<body>
<nav th:replace="partials/navbar.html :: navbar"/>

<div class="container mb-4">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="applicationCreate-form">
                <form th:action="@{/events/apply/{openHouseId} (openHouseId = ${openHouseId})}" method="POST" th:object="${app}" class="mt-5 border p-4 bg-light shadow text-center">
                    <h4 class="mb-5 text-secondary">Apply for the Open Event House Event at</h4>
                    <div class="mb-3 col-md-12 form-group">
                        <p><span th:text="${openHouseEvent.house.address}"/>, <span th:text="${openHouseEvent.house.city}"/>, <span th:text="${openHouseEvent.house.state}"/> <span th:text="${openHouseEvent.house.zipcode}"/></p>
                        <p>Start time: <span th:text="${#dates.format(openHouseEvent.dateStart, 'MMM-dd-yyyy h:mm a')}"/></p>
                        <p>End time: <span th:text="${#dates.format(openHouseEvent.dateEnd, 'MMM-dd-yyyy h:mm a')}"/></p>
                        <p>Listing agent: <span th:text="${openHouseEvent.house.user.firstName}"/> <span th:text="${openHouseEvent.house.user.lastName}"/></p>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-md-12 form-group">
                            <label for="inquiry">Please leave a short description of your event application</label>
                            <textarea id="inquiry" name="inquiry" class="materialize-textarea form-control" th:field="*{inquiry}"></textarea>
                            <p th:if="${#fields.hasErrors('inquiry')}" th:errors="*{inquiry}"></p>
                            <p th:if="${isBlank}">must not be blank</p>
                            <p th:if="${isOver500}">must not be over 500 chars</p>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Apply to host" class="btn btn-block btn-color"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div th:replace="partials/scripts.html :: scripts"/>
</body>
</html>